.imageSlideWrap {
  position: relative;
  width: 100%;
}

.imageSliderContainer {
  overflow: hidden;
  height: 500px;
}
.imageContent {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.buttonContainer {
  position: absoulte;
}
